<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Car clock</title>
    <link rel="stylesheet" href="../styles/keyframes.css">
    <link rel="stylesheet" href="../styles/clock.css" />
  </head>
  <body>
    <div class="clock-container">
        <div class="hours container">
            <div class="first-number">
                    <img src="../assets/car.png" class="car-zero-1 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-2 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-3 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-4 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-5 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-6 car" alt=""  />
            </div>
            <div class="second-number">
                    <img src="../assets/car.png" class="car-zero-1 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-2 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-3 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-4 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-5 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-6 car" alt=""  />
            </div>
        </div>
        <div class="minutes container">
            <div class="first-number">
                    <img src="../assets/car.png" class="car-zero-1 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-2 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-3 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-4 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-5 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-6 car" alt=""  />
            </div>
            <div class="second-number">
                    <img src="../assets/car.png" class="car-zero-1 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-2 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-3 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-4 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-5 car" alt=""  />
                    <img src="../assets/car.png" class="car-zero-6 car" alt=""  />
            </div>
        </div>
    </div>
    <script src="../javascript/main.js"></script>
  </body>
</html>
